#pre-loading {
    width: 100%;
    height: 100%;
    // background: $black-transparent-1;
    display: flex;
    align-items: center;
    justify-content: center;
    div.loading-wrapper {
        background: $black-transparent-1;
        width: calc(5vh + 5vw);
        height: calc(5vh + 5vw);
        padding: 10px;
        border-radius: 50%;
        overflow: hidden;
        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}