* {
    -webkit-touch-callout: none;   
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    margin: unset !important;
    padding: unset !important;
    background: transparent !important;
    // background: black !important;
    overflow: hidden;
}

// Weird iOS nonsense 
.clickable {
    cursor: pointer;
}

button:focus {
    outline: 0 !important;
}

.invert-half {
    filter: invert(50%);
}
.invert-full {
    filter: invert(100%);
}

img.outline {
    filter: drop-shadow(0px 0px 1px black);
}

$black-transparent:  rgba(0, 0, 0, 0.5);
$black-transparent-1: rgba(0, 0, 0, 0.75);
$black-transparent-2: rgba(0, 0, 0, 0.25);
$yellow-transparent: rgba(255, 255, 0, .95);
$blue-transparent:   rgba(68, 164, 226, .80);
$purple-transparent: rgba(173, 16, 123, 0.5);

$ionicons-font-path: "../../fonts";
// @import "ionic.ionicons";
@import '../../../../node_modules/ionicons/dist/scss/ionicons';

@import 'vue-app';
@import 'pre-loading';
@import 'header';
@import 'footer';
@import 'content';
@import 'dynamic-tray-current-spot-container';
@import 'dynamic-circle-tray';
@import 'current-spot';
@import 'loading-modal';
@import 'content-modal';
@import 'all-modal';
@import 'zoom-modal';
@import 'experience-startup';
@import 'bottom-ad';
@import 'radar-container';
@import 'experience-splashscreen';
@import 'test-area';
@import 'place-marker';
@import 'error-modal';
@import 'place-splashscreen';
@import 'photo-mode';